.navbar {
    flex-grow: 1;
    position: "fixed";
    width: 100%;
    top: 0;
    z-index: 999
}

.appBar {
    background-color: #ffc0d1;
    position: 'fixed';
    top: 0;
}

.root {
}

.menuButton {
    margin-right: 1%;
}

.title {
    flex-grow: 1;
    color: #00b6b0;
    font-family: 'Times New Roman', serif;
    font-size: 2.5em,
}
.list {
    display: "flex";
    flex-direction: "row";
    padding: 0
}